<div class=container>
  <div class="wait-message">
    <% if DateTime.now > @meeting.date%>
      <h3 class="mt-5">
        Your meeting with <%= @other_user.first_name.capitalize %>
        is underway. Click the button below to enter.
      </h3>
      <%= link_to 'Enter the meeting', chat_meeting_path, class: "btn btn-primary btn-ace mt-5" %>
    <% elsif DateTime.now > (@meeting.date - 300.seconds)%>
      <h3 class="mt-5">
        The room for your meeting with <%= @other_user.first_name.capitalize %>
        is open and will start shortly! Click the button below to enter.
      </h3>
      <%= link_to 'Enter the meeting', chat_meeting_path, class: "btn btn-primary btn-ace mt-5" %>
    <% else %>
      <h3 class="mt-5">
        The option to begin your meeting with <%= @other_user.first_name.capitalize %>
        will appear 5 minutes before the meeting is due to start.
      </h3>
      
    <% end %>
  </div>

  <div class="row card-box">
    <div class="col-sm-12 col-md-7 row personal-info">
      <div class="col-xs-6">
        <%= link_to user_path(@other_user) do %>
          <% if @other_user&.avatar&.attached? %>
            <%= cl_image_tag @other_user.avatar.key, class: "photo" %>
          <% else %>
            <%= image_tag "avatar-default.png", class: "photo" %>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-6 info">
        <%= link_to user_path(@other_user) do %>
          <h3><%= @other_user.first_name.capitalize %> <%= @other_user.last_name.capitalize %></h3>
        <% end %>
        <div class="small-details"><%= @other_user.university.name %></div>
        <div class="small-details">Member Since: <%= @other_user.created_at.strftime("%d/%m/%Y") %></div>
      </div>

  
      <div class="expertise">
        <div class="expertise-area">Consumer Goods</div>
        <div class="expertise-area">Technology</div>
        <div class="expertise-area">Media</div>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-5">
      <div class="meeting-details">
        <div class="details-header">Meeting Details</div>
        <div class="details">
          <div class="small-details">Date:  <strong><%= @meeting.date.strftime("%e %B %Y") %></strong></div>
          <div class="small-details">Time:  <strong><%= @meeting.date.strftime("%l:%M") %></strong></div>
          <% if @question %>
            <div class="small-details">Industry:  <strong><%= @question.industry %></strong></div>
            <div class="small-details">Discipline:  <strong><%= @question.discipline %></strong></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
