<div class="container">
  <div class="card-profile">
    <div class="card-profile-text">
      <h5><%= user.first_name %> <%= user.last_name %></h5>
      <% user.ratings_as_interviewer({past: true}, :readiness).to_i.times do %>
        <i class="fas fa-star small"></i>
      <% end %>
      <% (5 - user.ratings_as_interviewer({past: true}, :readiness).to_i).times do %>
        <i class="far fa-star small"></i>
      <% end %>
      <ul>
        <li><%= pluralize(user.meetings_as_interviewee(past: true).count, 'case') %> solved </li>
        <li>Average rating: <%= user.ratings_as_interviewee({past: true}, :readiness).round(2) %></li>
        <li><%= pluralize(user.meetings_as_interviewer(past:true).count, 'interview') %> given</li>
        <li>Average rating as an interviewer: <%= user.ratings_as_interviewer({past: true}, :readiness).round(2) %></li>
      </ul>
    </div>
    <div class="card-profile-avatar">
      <% if user.avatar.attached? %>
        <%= cl_image_tag user.avatar.key, alt: "user-avatar", width: 200, height: 200, crop: :fill %>
      <% else %>
        <%= image_tag "avatar-default.png", alt: "user-avatar", width: 200, height: 200, crop: :fill %>
      <% end %>
    </div>
  </div>
  <div class="header-upcoming-interviews d-flex align-items-center">
    <h5 class="m-0">Recent interviews given by <%= user.first_name.capitalize %></h5>
  </div>
  <% if user.meetings_as_interviewer(past: true).any? %>
    <% user.meetings_as_interviewer(past: true).each do |meeting| %>
      <div class="col-sm-6">
        <div class="card-meeting">
          <div class="partner-info">
            <% interviewee = meeting.interviewee %>
            <% interviewer = meeting.interviewer %>
            <p><%= interviewee.first_name.capitalize %></p>
            <p><%= interviewee.university.name %></p>
            <p><%= user.first_name.capitalize %> was given a rating of <%= interviewer.ratings_as_interviewer({past: true}, :readiness).round(2) %> as an interviewer</p>
            <% if interviewee.avatar.attached? %>
              <%= cl_image_tag interviewee.avatar.key, alt: "user-avatar", width: 100, height: 100, crop: :fill %>
            <% else %>
              <%= image_tag "avatar-default.png", alt: "user-avatar", width: 100, height: 100, crop: :fill %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="no-interviews">
      <p> <%= user.first_name.capitalize %> has not given any interviews to peers yet</p>
      <p class="btn btn-primary"  data-toggle="modal" data-target="#a<%= user.id %>"> Request Interview with <%= user.first_name.capitalize %></p>
      <div class="modal fade" id="a<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Pick a date and time</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for ([user, @meeting]) do |f| %>
                    <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
                    <%= f.button :submit, "Go", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

