<div class="container">
  <div class="header-index">
    <h4 class="h4-ace">You are looking at the interviewers</h3>
  </div>
    <div class="index-container">

      <div class="image-grid">
        <%= image_tag 'image-index' %>
      </div>
      <% @users.each do |user| %>
        <div class="card ace-card">
          <div class="ace-card-top">
            <% if user&.avatar&.attached? %>
            <%= cl_image_tag user.avatar.key %>
            <% else %>
            <%= image_tag "avatar-default.png" %>
          <% end %>
          <div class="ace-card-header">
            <%= link_to user_path(user) do %>
              <h6><%= user.first_name %> <%= user.last_name%></h6>
            <% end %>
            <%= user.rating_as_interviewer %>
          </div>
          </div>
          <ul>
            <li><i class="fas fa-star"></i>  <strong>Specialized:</strong> Tecnology</li>
            <li><i class="fas fa-graduation-cap"></i>  <%= user.university.name %></li>
            <li><i class="fas fa-briefcase"></i>  <strong><%= pluralize(user.meetings_as_interviewer(past:true).count, 'interview')  %></strong> given </li>
            <li><i class="fas fa-briefcase"></i>  <strong><%= pluralize(user.meetings_as_interviewee(past:true).count, 'case')  %></strong> solved </li>
          </ul>

          <p class="btn btn-ace btn-primary"  data-toggle="modal" data-target="#a<%= user.id %>" >I choose you</p>

          <div class="modal fade" id="a<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>INSERT DATETIME PICKER BELOW</p>
                  <%= simple_form_for ([user, @meeting]) do |f| %>
                    <%= f.input :date, html5: true %>
                    <%= f.submit  %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
