<%= simple_form_for ([@meeting, @review]) do |f| %>
  <!--For everyone at the beginning -->
  <div class="rating_header">

    <% if @meeting.interviewer == current_user %>
      <h3 class="text-center">Please rate the applicant's performance</h3>
    <% else %>
      <h3 class="text-center">Please rate the interviewer's performance</h3>
    <% end %>
  </div>
  <div class="rating_card_first m-auto">
    <div class="rating_stars">
        <%= f.input :would_repeat, as: :boolean, label: "I would do more interviews with this person" %>
    </div>
  </div>
  <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
  <div class="filler"></div>
<div class=" rating_card">
    <div class="rating_stars">
       <%= f.input :polite_engaged,
                    collection: (1..5).to_a,
                    :input_html => {
                      :class => "star_rating"
                    },
                    label: "This person was polite and engaged"
                    %>
    </div>
  </div>
  <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
  <div class="filler"></div>

    <% if @meeting.interviewee == current_user %>
    <!--reviewing the applicant -->
      <div class=" rating_card ">
        <div class=" rating_stars">
         <%= f.input :structure,
                      collection: (1..5).to_a,
                      :input_html => {
                        :class => "star_rating"
                      },
                      label: "The answer was well structured"
                      %>
        </div>
      </div>

      <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
      <div class="filler"></div>

      <div class=" rating_card ">
        <div class=" rating_stars">
         <%= f.input :math,
                      collection: (1..5).to_a,
                      :input_html => {
                        :class => "star_rating"
                      },
                      label: "The applicant was quick and accurate with the math"
                      %>
        </div>
      </div>
      <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
      <div class="filler"></div>

      <div class=" rating_card ">
        <div class=" rating_stars">
         <%= f.input :reasoning_originality,
                      collection: (1..5).to_a,
                      :input_html => {
                        :class => "star_rating"
                      },
                      label: "The applicant had good reasoning and came up with interesting ideas and questions"
                      %>
        </div>
      </div>
      <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
      <div class="filler"></div>

      <div class=" rating_card ">
        <div class=" rating_stars">
         <%= f.input :communication,
                      collection: (1..5).to_a,
                      :input_html => {
                        :class => "star_rating"
                      },
                      label: "The applicant communicated well"
                      %>
        </div>
      </div>
      <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
      <div class="filler"></div>

      <div class=" rating_card ">
        <div class=" rating_stars">
         <%= f.input :confidence,
                      collection: (1..5).to_a,
                      :input_html => {
                        :class => "star_rating"
                      },
                      label: "The applicant was confident but not arrogant"
                      %>
        </div>
      </div>
      <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
      <div class="filler"></div>

      <div class=" rating_card ">
        <div class=" rating_stars">
         <%= f.input :readiness,
                      collection: (1..5).to_a,
                      :input_html => {
                        :class => "star_rating"
                      },
                      label: "This applicant is ready for a real interview"
                      %>
        </div>
      </div>
      <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
      <div class="filler"></div>



    <% elsif @meeting.interviewer == current_user%>
    <!--reviewing the interviewer -->
      <div class=" rating_card ">
        <div class=" rating_stars">
         <%= f.input :full_attention,
                      collection: (1..5).to_a,
                      :input_html => {
                        :class => "star_rating"
                      },
                      label: "The interviewer gave me her/his full attention"
                      %>
        </div>
      </div>

      <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
      <div class="filler"></div>

      <div class=" rating_card ">
        <div class=" rating_stars">
         <%= f.input :case_knowledge,
                      collection: (1..5).to_a,
                      :input_html => {
                        :class => "star_rating"
                      },
                      label: "The interviewer knew the case well"
                      %>
        </div>
      </div>

      <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
      <div class="filler"></div>

      <div class=" rating_card ">
        <div class=" rating_stars">
         <%= f.input :case_presentation,
                      collection: (1..5).to_a,
                      :input_html => {
                        :class => "star_rating"
                      },
                      label: "The interviewer presented the case well"
                      %>
        </div>
      </div>

      <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
      <div class="filler"></div>

      <div class=" rating_card ">
        <div class=" rating_stars">
         <%= f.input :accurate_feedback,
                      collection: (1..5).to_a,
                      :input_html => {
                        :class => "star_rating"
                      },
                      label: "The interviewer gave accurate and actionable feedback"
                      %>
        </div>
      </div>

      <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
      <div class="filler"></div>

      <div class=" rating_card ">
        <div class=" rating_stars">
         <%= f.input :constructive_criticism,
                      collection: (1..5).to_a,
                      :input_html => {
                        :class => "star_rating"
                      },
                      label: "The interviewer gave constructive_criticism"
                      %>
        </div>
      </div>

      <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
      <div class="filler"></div>

      <div class=" rating_card ">
        <div class=" rating_stars">
         <%= f.input :level_adapted,
                      collection: (1..5).to_a,
                      :input_html => {
                        :class => "star_rating"
                      },
                      label: "The interviewer adapted the level of the case to my level"
                      %>
        </div>
      </div>

      <div class="rating_chevron"><i class="fas fa-chevron-circle-down"></i></div>
      <div class="filler"></div>

    <% end %>
    <!--For everyone at the end -->
    <div class="rating_card_last">
      <%= f.input :content, as: :text, label: "Please leave a comment" %>
    </div>
    <div class="rating_card_last">
      <%= f.submit 'Send my review',:class => "rating_card_button" %>
    </div>
<% end %>
